# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Git
.git/
.gitignore

# Virtual Environments
venv/
.venv/
env/

# IDE files
.idea/
.vscode/

# Local databases & logs
*.db
*.sqlite3
*.log
