# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.env
.venv
env/
venv/
ENV/

# Database
*.sqlite3
*.db

# IDEs
.vscode/
.idea/

# Docker volumes
mysql_data/
